/* Styling for the header element */
header {
    display: flex; /* Flex container to manage the layout */
    text-align: center;
    align-items: center;
    justify-content: space-evenly; /* Distribute space evenly between items horizontally */
    background-color: #333834;
    color: #333834;
    padding: 50px;
    border: 1px solid rgb(134, 123, 123); 
    position: fixed;
    width: 100%;
    z-index: 1000;
    border-bottom: 1px solid rgb(223, 212, 212); /* Add a bottom border with color */
    
}

/* Style Logo and fix it on the left corner */
#logo {
    width: 70px;
    height: 70px;
    position: fixed; 
    top: 20px;
    left: 20px; 
    animation: logoFadeIn 3.5s ease-out;
}

/* Logo Animation */
@keyframes logoFadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Style the Banner and Banner Picture */
#banner {
    text-align: center;
    position: relative;
    height: 300px; 
    overflow: hidden;
    background-color: #151617;
    margin-top: 70px; 
    
}
/* Banner Animation */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
#banner-picture img {
    width: 100%;
    height: 300px;
    animation: fadeIn 4.5s ease-out, scrollDown 5s linear infinite;
    object-fit: cover; /* Maintain image aspect ratio and cover the entire container */
    border-bottom: 2px solid #151617; /* Add a 2px solid border at the bottom */
    padding-bottom: 10px; /* Add some space between the border and the content */
}



/* Style the navigation items */
.nav-list li {
    margin-right: 5px; /* Adjust spacing between items as needed */
}
.nav-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1100;
}
.nav-list a {
    text-decoration: none;
    display: inline-block;
    border: 1px solid black;
    border-radius: 4px;
    width: 100px;
    background-color: rgb(62, 59, 59);
    padding: 5px;
    color: white;
    justify-content: center;
    margin-right: 5px;
}

.nav-list a:hover {
    background-color: white;
    color: black;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
    .nav-list {
        flex-direction: column;
        align-items: center;
        right: 0;
    }

    .nav-list a {
        width: auto;
        margin: 0;
    }
}


/* Styles for Welcome Section */
#welcome-section {
    text-align: center;
    padding: 50px;
    background-color: #f5f5f5;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin: 20px;
}

#welcome-section h2 {
    font-size: 2.5em;
    color: #333;
    margin-bottom: 20px;
}

#welcome-section .description {
    font-size: 1.2em;
    color: #555;
    line-height: 1.6;
    margin-top: 20px;
}

#welcome-section .invite {
    font-size: 1.2em;
    color: #007bff;
    font-weight: bold;
    margin-top: 20px;
}

/* Styles for Multimedia Section */
#multimedia-section {
    text-align: center;
    padding: 50px;
    background-color: #f5f5f5;
    margin-top: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

#multimedia-section h3 {
    font-size: 2em;
    color: #333;
    margin-bottom: 20px;
}

#multimedia-section p {
    font-size: 1.2em;
    color: #555;
    line-height: 1.6;
    margin-top: 20px;
}

.video-buttons button {
    background-color: #333834;
    color: #fff;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
}

.video-buttons button:hover {
    background-color: #555;
}

.media-content video {
    width: 100%;
    max-width: 800px;
    height: auto;
    border-radius: 8px;
    margin-top: 20px;
}




/* Media Queries for Responsive Design */
@media only screen and (max-width: 768px) {
    body {
        font-size: 14px;
    }
    #top-header #logo {
        max-width: 80%; 
    }
    #banner {
        padding: 20px; 
    }
    #multimedia-section {
        padding: 20px; 
    }
    #presentation-video {
        width: 100%; 
    }
}

@media only screen and (max-width: 480px) {
    /* Adjustments for even smaller screens */
    body {
        font-size: 12px;
    }
    #top-header #logo {
        max-width: 60%; 
    }
    #banner {
        padding: 30px; 
    }
    #multimedia-section {
        padding: 30px; 
    }
    #presentation-video {
        width: 100%; 
    }
}

/* Global styles for all pages */
body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
}
h1, h2, h3 {
    color: #393c41; 
}
p {
    color: #333; 
}
a {
    color:  #393c41; 
    text-decoration: none;
}
a:hover {
    text-decoration: underline; 
}

.video-buttons button {
    background-color: #333834;
    color: #fff;
    padding: 5px 10px;
    margin-right: 10px;
    cursor: pointer;
}

.media-content {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#presentation-video {
    width: 80%;
    max-width: 800px;
}


/* Styles for Contact Table */
#contact-table {
    text-align: center;
    padding: 50px;
    background-color: #f5f5f5;
}

/* Add border-radius to images for rounded corners */
#contact-table img {
    border-radius: 8px;
}

#contact-table table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
}

#contact-table th, #contact-table td {
    padding: 10px;
    border: 1px solid #ddd;
}

#contact-table th {
    background-color: #333834;
    color: #fff;
}

#contact-table a {
    color: #45494f;
}

#contact-table a:hover {
    text-decoration: underline;
}

/* Styles for "Get in Touch" Section */
h2 {
    color: #2e3033;
    margin-top: 30px;
}

p {
    font-size: 1.2em;
    color: #555;
}

#apply-now {
    background-color: #333834;
    color: #fff;
    padding: 10px 20px;
    font-size: 1.2em;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    margin-top: 20px;
}

#apply-now:hover {
    background-color: #333834;
}


/* Styles for Get in Touch Form */
#get-in-touch-form {
    width: 80%;
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
}
/* Make the label text "Choose Expertise:" bold */
#get-in-touch-form label.bold-label {
    font-weight: bold;
}

/* Styles for Subscription Form */
#subscription-form {
    width: 80%;
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
}


label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"], input[type="email"] {
    color: #2e3033;
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

button[type="submit"] {
    background-color: #333834;
    color: #fff;
    padding: 10px 20px;
    font-size: 1.2em;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

button[type="submit"]:hover {
    background-color: #333834;
}


/* Styles for Technical Skills Section */
#technical-skills {
    text-align: center;
    padding: 50px;
    background-color: #f5f5f5;
}

#technical-skills img {
    border-radius: 8px;
}

#technical-skills h2 {
    color: #3d4a5e;
    margin-top: 20px;
}

#technical-skills article {
    text-align: left;
}

/* Styles for Talent Acquisition Section */
#talent-acquisition {
    text-align: center;
    padding: 50px;
    background-color: #f9f9f9;
}

#talent-acquisition h2 {
    color: #3d4a5e;
    margin-top: 20px;
}

/* Styles for IT Consulting Section */
#it-consulting {
    text-align: center;
    padding: 50px;
    background-color: #f5f5f5;
}

#it-consulting h2 {
    color: #3d4a5e;
    margin-top: 20px;
}
/* Styles for Services Table Section */
#services-table {
    text-align: center;
    padding: 50px;
    background-color: #f9f9f9;
    width: 50%; 
    box-sizing: border-box; 
    float: left; 
}

#services-table h1 {
    color: #070707;
}

/* Make the table width 100% to fill the container */
#services-table table {
    width: 100%; 
    border-collapse: collapse;
}

#services-table th, #services-table td {
    padding: 15px;
    border: 1px solid #ddd;
}

#services-table th {
    background-color: #3d4a5e;
    color: #fff;
}

/* Styles for Multimedia Services Section */
#multimedia-services {
    text-align: center;
    padding: 50px;
    background-color: #f5f5f5;
    margin-top: 50px; 
    box-sizing: border-box;
}

#multimedia-services h2 {
    color: #3d4a5e;
    margin-top: 20px;
}

.media-content {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-around;
}

/* Video Styles */
#multimedia-services .video-container {
    width: 50%; 
    max-width: 480px; 
    box-sizing: border-box; 
}

#multimedia-services video {
    height: auto;
    border-radius: 8px;
}

/* Audio Styles */
#multimedia-services .audio-container {
    width: 50%; 
    max-width: 300px; 
    margin-top: 20px; 
    box-sizing: border-box; 
}

#multimedia-services .audio-header {
    text-align: center;
    font-size: 1.2em;
    color: #3d4a5e;
}

#multimedia-services audio {
    width: 100%;
    border-radius: 8px;
}

/* Adjust the width for responsiveness */
@media only screen and (max-width: 768px) {
    #multimedia-services .video-container,
    #multimedia-services .audio-container {
        width: 100%; 
        max-width: none; 
    }
}


#my-story1 {
    text-align: center;
    margin: 20px;
    border-bottom: 2px solid #423e3e;
    padding-bottom: 10px;
}

/* Make images fill the width of the container */
#bcevik-picture{
    float: right;
    width: 100%; 
    max-width: 200px;
    height: auto;
    display: block;
    margin: 0 auto 10px; 
}
#bcevik-picture1 {
    float: left;
    width: 100%; 
    max-width: 200px; 
    height: auto;
    display: block;
    margin: 0 auto 10px; 
}



article {
    overflow: hidden;
}

h2 {
    color: #3d4a5e;
    margin-bottom: 10px;
    border-color: #070707;
}

article p {
    margin: 0;
}

/* Media query for smaller screens */
@media only screen and (max-width: 600px) {
    #bcevik-picture,
    #bcevik-picture1 {
        max-width: 100%; 
    }
}

  #professional-summary {
    text-align: center;
    margin: 20px; 
    border-bottom: 2px solid #423e3e; 
    padding-bottom: 10px;
  }
  
  #professional-summary h2 {
    color: #3d4a5e;
    margin-bottom: 10px;
    border-color: #070707;
  }
  
  #professional-summary article {
    overflow: hidden; 
  }
  
  #professional-summary article p {
    margin: 0; 
  }


  #career {
    text-align: left;
    margin: 20px; 
    border-bottom: 20px solid #423e3e; 
    padding-bottom: 50px; 
  }
  
  #career h2 {
    color: #3d4a5e;

  }
  
  #career article {
    justify-content: space-between;
    width: 100%;
  }
  
  .school-info,
  .work-info {
    flex-basis: 58%; 
  }
  
  .school-info p,
  .work-info p {
    margin: 0;
  }
  
  #bu-picture,
  #fmi-picture {
    width: 100px;
    height: 40px;
    margin-top: 10px; 
  }



/* Styles for Multimedia Content in My Hometown Section */
#hometown {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start; 
  }
  
  #hometown h2, #hometown h3, #hometown p {
    width: 100%; 
    color: #3d4a5e;
  }
  
  #hometown article {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%; 
  }
  
  #hometown img {
    width: calc(50% - 20px); 
    max-width: 100%; 
    height: auto;
    margin-bottom: 20px;
  }
  
  .media-content-istanbul {
    width: calc(50% - 20px); 
  }
  
  .media-content-istanbul video {
    width: 100%; 
    border-radius: 8px;
  }



/* Style the content container */
.content-container {
    display: flex;
    justify-content: space-between; 
    max-width: 750px; 
    margin: 20px auto; 
}

/* Style the books container */
.books-container,
.movie-container {
    text-align: center;
    border-radius: 10px;
    padding: 20px;
    max-width: 550px; 
    border-bottom: 2px solid #423e3e;
    padding-bottom: 10px;
    box-sizing: border-box; 
}

/* Style the ordered list */
.books-container ol,
.movie-container ol {
    list-style-type: none;
    padding: 0;
}

/* Style the list items */
.books-container ol li,
.movie-container ol li {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Add styles for table header (optional) */
.books-container ol li:first-child,
.movie-container ol li:first-child {
    font-weight: bold;
    background-color: #ddd;
}


/* Style the sports container */
.sports-container {
    display: flex;
    justify-content: space-between;
    max-width: 800px;
    margin: 20px auto;
}

/* Style soccer and tennis sections */
.soccer-section,
.tennis-section {
    text-align: center;
    border-radius: 10px;
    padding: 20px;
    max-width: 350px;
    box-sizing: border-box;
    border: 2px solid #423e3e;
    margin-bottom: 20px;
}

/* Style images inside the sections */
.soccer-section img,
.tennis-section img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 15px;
}


/* Additional styles from degrees.css */
/* Initially hide the education content */
.education-content {
    max-width: 800px;
    margin: 20px auto;
    display: none;
}

/* Style for the "show" class to make the education content visible */
.education-content.show {
    display: block;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

.additional-info {
    max-width: 800px;
    margin: 20px auto;
}

.additional-info h2 {
    color: #671717;
}

.additional-info p {
    line-height: 1.6;
}

.university-image {
    width: 100%;
    max-width: 600px;
    display: block;
    margin: 20px auto;
}
 /* Hover effect for education table rows */
 table tbody tr:hover {
    background-color: #b75757; 
    cursor: pointer;
  }

  
  #education-history {
    padding: 10px 20px; 
    text-align: center;
    margin: 20px auto;
    margin-top: 20px;
  }
 
/* Styles for the Education History button */
#toggleButton.education-button {
    display: inline-block;
    background-color: #b75757;
    color: white;
    text-decoration: none;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px 20px;
    margin-top: 10px;
}

#toggleButton.education-button:hover {
    background-color: #455da0;
}

.animate-on-hover {
    transition: color 0.3s ease;
  }
  .animate-on-hover:hover {
    color: #ff5733;
  }


  body {
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
  }

/* Additional styles for resume container */
.resume-container {
    text-align: center;
    margin: 20px auto;
}

.resume-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #b75757;
    color: white;
    text-decoration: none;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.resume-button:hover {
    background-color: #455da0;
}


#gallery {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    position: relative;
}

.gallery-container {
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    margin-bottom: 50px;
}

.gallery-item {
    flex: 0 0 calc(33.33% - 10px); 
    margin-bottom: 20px; 
    display: none;
    transition: opacity 0.5s ease-in-out;
    position: relative; 
}

.gallery-item img {
    width: 100%;
    height: auto;
    max-width: 100%; 
    border-radius: 8px;
}


/* Add styles for the visibility toggle animation of the text */
.gallery-item .image-text {
    opacity: 12;
    transition: opacity 4.5s ease-in-out; 
}
.gallery-item.visible {
    display: flex;
}

.gallery-buttons {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.8); 
}

.gallery-buttons button {
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    background-color: #526252;
    color: white;
    border: none;
    border-radius: 5px;
    margin: 20 20px;
}

.gallery-buttons #prevButton {
    background-color: #526252;
    color: white;
    margin-right: 10px; 
}

.gallery-buttons #nextButton {
    background-color: #526252;
    color: white;
}

.gallery-buttons button:hover {
    background-color: #a04548;
}

#gallery-title {
    text-align: center;
    margin-top: 20px;
    font-size: 24px; 
    color: #333; 
}
        /* Social Media Integration Styles */
        #social-nav {
            margin-top: 20px;
            text-align: center;
        }

        .social-buttons {
            display: flex;
            justify-content: center;
        }

        .social-item {
            margin: 0 10px;
        }

        .social-item a {
            display: inline-block;
            padding: 10px;
            text-decoration: underline;
            color: #111010;
            background-color: #e2edf3;
            border-radius: 5px;
        }

        .social-item a img {
            width: 80px; 
            height: 40px;
            margin-right: 5px;
        }

/* Footer Styles */
footer {
    margin-top: 20px;
    text-align: center;
    padding: 10px;
    background-color: #333834;
    color: #fff;
}

  