<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/main.css" />
    <script src="form.js" defer></script>
    <title>Welcome to My Web Site</title>
    <!-- Add this script to the head section of your HTML file -->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script>
      $(document).ready(function () {
        // Weather API key
        const apiKey = "9283c1417fee6280a395720df071788b";
        const city = "Boston"; // Replace with the desired city

        // Make a request to OpenWeatherMap API
        $.getJSON(
          `https://api.openweathermap.org/data/2.5/weather?q=${city}&appid=${apiKey}`,
          function (data) {
            const temperature = Math.round(data.main.temp - 273.15); // Convert temperature to Celsius
            const weatherDescription = data.weather[0].description;

            // Update the HTML element with the weather information
            $("#weather-info").html(
              `Weather: ${temperature}&deg;C, ${weatherDescription}`
            );
          }
        );
      });
    </script>
    <!-- Google MAps API -->
    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBQlN6NmtNGcZLX9Wp3ZX7ApPNfcT-lO64&callback=initMap"
      async
      defer
    ></script>
    <script>
      function initMap() {
        const mapOptions = {
          center: { lat: 42.3512, lng: -71.0445 }, // Set the initial map center
          zoom: 10, // Set the initial zoom level
        };

        // Create a new map instance
        const map = new google.maps.Map(
          document.getElementById("map"),
          mapOptions
        );
      }
    </script>
  </head>

  <body>
    <header id="top-header">
      <img id="logo" src="./images/agiletech_logo.png" alt="Agile Technology Consulting"/>
      <nav id="main-nav">
        <ul class="nav-list">
          <li class="nav-item"><a href="index.html">Home</a></li>
          <li class="nav-item"><a href="about.html">About</a></li>
          <li class="nav-item"><a href="services.html">Services</a></li>
          <li class="nav-item"><a href="education.html">Education</a></li>
          <li class="nav-item"><a href="gallery.html">Gallery</a></li>
          <li class="nav-item"><a href="contact.html">Contact</a></li>
        </ul>
      </nav>
    </header>
    <div id="banner-picture">
      <img id="company-image" src="./images/business.png" alt="Battal Cevik WebSite" />
    </div>
    <main>
      <section id="get-in-touch-form">
        <h2>Get in Touch Form</h2>
        <p>
          Complete below form to provide your contact information, select
          facilitator, service and expertise options.
        </p>
        <!-- Create a Form from and use the POST method to submit actin URL provided-->
        <form action="https://formspree.io/f/mbjvnwel" method="POST" onsubmit="return validateForm()">

          <label for="firstName">First Name:</label>
          <input type="text" id="firstName" name="firstName" required /><br />

          <label for="lastName">Last Name:</label>
          <input type="text" id="lastName" name="lastName" required /><br />

          <label for="facilitator">Facilitator:</label>
          <input type="text" id="facilitator" name="facilitator" required /><br />

          <!-- Create a radio options for Services -->
          <label class="bold-label">Choose a Service:</label><br />

          <label for="service1">Project Management</label>
          <input type="radio" id="service1" name="service" value="Project Management" /><br />

          <label for="service2">Talent Acquisition</label>
          <input type="radio" id="service2" name="service" value="Talent Acquisition" /><br />

          <label for="service3">IT Consulting</label>
          <input type="radio" id="service3" name="service" value="IT Consulting" /><br />

          <label for="service4">Technical Interview Skills</label>
          <input type="radio" id="service4" name="service" value="Technical Interview Skills" /><br />

          <!-- Create a checkbox options for Expertise -->
          <label class="bold-label">Choose Expertise Field:</label><br />

          <label for="expertise1">Cloud Solutions</label>
          <input type="checkbox" id="expertise1" name="expertise" value="Cloud Solutions" /><br />

          <label for="expertise2">Software Development</label>
          <input type="checkbox" id="expertise2" name="expertise" value="Software Development" /><br />

          <label for="expertise3">Networking</label>
          <input type="checkbox" id="expertise3" name="expertise" value="Networking" /><br />

          <label for="expertise4">Security Assessments</label>
          <input type="checkbox" id="expertise4" name="expertise" value="Security Assessments" /><br />

          <label for="expertise5">Data Analytics</label>
          <input type="checkbox" id="expertise5" name="expertise" value="Data Analytics" /><br />

          <!--Form Submit button  -->
          <button type="submit">Submit</button>
        </form>
      </section>
      <section id="subscription-form">
        <!-- Use Vue.js to handle subscription form submission -->
        <div id="subscription-app">
          <form action="https://formspree.io/f/mbjvnwel"method="POST">
            <h2>Subscribe to Our Newsletter</h2>
            <label for="first-name">First Name:</label>
            <input v-model="subscriptionForm.firstName" type="text" id="first-name" name="first-name" required/><br />
            <label for="last-name">Last Name:</label>
            <input v-model="subscriptionForm.lastName" type="text" id="last-name" name="last-name" required/><br />
            <label for="email">Email:</label>
            <input v-model="subscriptionForm.email" type="email" id="email" name="email" required /><br />
            <button type="submit">Subscribe</button><br />
          </form>
        </div>
      </section>

      <!-- Create a contact table -->
      <section id="contact-table">
        <img src="./images/tech.png" alt="Battal Cevik WebSite" style="width: 300px; height: 200px"/>

        <h2>Contact Information</h2>
        <table>
          <tr>
            <th>Contact Detail</th>
            <th>Information</th>
          </tr>
          <tr>
            <td><strong>Address:</strong></td>
            <td>1004 Pleasant Street</td>
          </tr>
          <tr>
            <td><strong>City:</strong></td>
            <td>Weymouth</td>
          </tr>
          <tr>
            <td><strong>State:</strong></td>
            <td>MA</td>
          </tr>
          <tr>
            <td><strong>Zip Code:</strong></td>
            <td>02189</td>
          </tr>
          <tr>
            <td><strong>Email:</strong></td>
            <td>
              <a href="mailto:battalcevik@gmail.com">battalcevik@gmail.com</a>
            </td>
          </tr>
          <tr>
            <td><strong>Phone:</strong></td>
            <td><a href="tel:+12027657925">+1 (202) 765-7925</a></td>
          </tr>
        </table>
      </section>
      <!-- Create a weather section -->
      <section id="weather-section">
        <h3>Current Weather</h3>
        <div id="weather-info"></div>
      </section>
      <!-- Create a Google Map Section -->
      <section id="map-section">
        <h3>Location</h3>
        <div id="map" style="height: 300px"></div>
      </section>
    </main>

    <footer>&copy;2023. Battal Cevik. Open Source.</footer>

    <!-- Include Vue.js and Firebase SDK -->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://www.gstatic.com/firebasejs/9.0.0/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/9.0.0/firebase-database.js"></script>
    <script src="form.js" defer></script>
  </body>
</html>
